src/main/mule/sampleprojects.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b835917b-3f4c-4215-afce-1f4352e22101" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="sampleprojectsFlow" doc:id="3606c794-4f41-4d71-9728-60078bcaf996" >
		<http:listener doc:name="Listener" doc:id="90ec3f78-c305-41fb-8c75-8eafed4a311e" config-ref="HTTP_Listener_config" path="/firstTest"/>
		<logger level="INFO" doc:name="Logger" doc:id="2b089bee-d780-4dc0-b396-4911fb1cb6b9" message='#["This is for Testing purpose"]'/>
	</flow>
</mule>
